* {
  text-align: center;
  margin: 10px;
}
* button {
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.container {
    width: 600px;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  #start-prompt {
    text-align: center;
  }
  
  #timer {
    position: fixed;
    padding: 10px;
    top: 0;
    right: 0;
  }

  #score {
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
  }
  
  .hide {
    display: none;
  }
